@model IEnumerable<UserResponse>

@{
    ViewData["Title"] = "Operator Page";
}

<div class="text-left">
    <a class="nav-link text-dark user-add" asp-area="" asp-controller="Account" asp-action="Register">მომხმარებლის დამატება</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                 სახელი
            </th>
            <th>
                გვარი
            </th>
            <th>
                პირადი ნომერი
            </th>
            <th>
                დაბ. თარიღი
            </th>          

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>              

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>              
               

                <td>
                    @Html.ActionLink("ანგარიშები", "GetUserAccounts", new {  Id=item.Id})
                    @Html.ActionLink("ბარათები","GetUserCards", new { id=item.Id})
                    @Html.ActionLink("ანგარიშის დამატება ", "CreateUserAccount", new { id=item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
