@model IEnumerable<UserRequest>

@{
    ViewData["Title"] = "Operator Page";
}

<div class="text-left">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">მომხმარებლის დამატება</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccounts)
            </th>           

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>              

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccounts)
                </td>
               

                <td>
                    @Html.ActionLink("ბარათის დამატება ", "CreditCard", new {  Id=item.Id})
                    @Html.ActionLink("ანგარიშის დამატება ", "UserAccount", new { id=item.Id})
                    @Html.ActionLink("მომხმარებლის წაშლა", "DeleteUser", new {  id=item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
